config.*
Makefile
Makefile.in
.deps
.libs
*.m4
configure
missing
silvia.pc
ltmain.sh
libtool
install-sh
depcomp
stamp-h1
test-driver

*.o
*.la
*.lo

autom4te.cache/
m4/
build*/

src/bin/issuer/silvia_issuer
src/bin/keygen/silvia_keygen
src/bin/loader/silvia_loader
src/bin/manager/silvia_manager
src/bin/proxy/silvia_proxy
src/bin/verifier/silvia_verifier
